.AAA {
    margin-left : 20%;
}

.cas {
    font-size: 200%;
    font-style: italic;
    margin-left : 20%;
    margin-bottom: 3%;
    margin-top: 3%;
}

#pokemon-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

body h1 {
    text-align: center;
}

#stopwatch {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px;
    font-size: large;
    font-weight: bold;
    flex-direction: column;
    text-align: center;
    font-size: 2vh;
}