.-hasSubmenu{
    background-color: rgba(255,255,255,1);
    z-index: 1;
}

.-hasSubmenu li {
    min-width: 380px;
    height: 50px;
}

/* nastavenie dátumu na stránke */
#datetime{
    margin-right: 5px;
    margin-bottom: 0px;
    font-weight: 600;
}
/* nastavenie vypisovania menín na stránke*/
#name_day{
    margin-right: 5px;
    margin-bottom: 0px;
    font-weight: 600;
}

/* cas a meniny */
#dateTimeName {
    display: flex;
    width: 100%;
    height: auto;
    background-color: white;
    align-items: flex-end;
    flex-direction: column;
}

/* tumbnaily aut v menu */
.menuCarBrand {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    height: 50px !important;
}

body{
    background-color: #ffffff
}
.obrazky{
    height: 300px;
    width: 300px;
    overflow: hidden;
}
.container{
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.demo-gallery > ul {    
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.demo-gallery > ul > li {
    float: left;
    width: 400px;
    margin: 25px;
    box-shadow: 5px 4px 15px -2px #000000;
}
.demo-gallery > ul > li a {
    border: 3px solid #FFF;
    border-radius: 3px;
    display: block;
    overflow: hidden;
    position: relative;
    float: left;
}
.demo-gallery > ul > li a > img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
}
.demo-gallery > ul > li a:hover > img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery > ul > li a:hover .demo-gallery-poster > img {
    opacity: 1;
}
.demo-gallery > ul > li a .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
}
.demo-gallery > ul > li a .demo-gallery-poster > img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}
.demo-gallery > ul > li a:hover .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .justified-gallery > a > img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
}
.demo-gallery .justified-gallery > a:hover > img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
    opacity: 1;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster > img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .video .demo-gallery-poster img {
    height: 48px;
    margin-left: -24px;
    margin-top: -24px;
    opacity: 0.8;
    width: 48px;
}
.demo-gallery.dark > ul > li a {
    border: 3px solid #04070a;
    border: 3px solid rgba(71, 71, 71, 0.048);

}

/* logo */
#title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

#title h1 {
    font-family: "Archivo Black";
    color: black;
    text-shadow: 4px 0px 1px rgba(255, 208, 0, 1);
    margin: 15px;
}

header hr {
    width:50%;
    margin:0 auto;
    border-top: 0.8px solid black !important;
}

#about {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.-visible {
    box-shadow: 0px 0px 4px black;
}

/* parametre auta */
.carParameters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
}

.carParameters :last-child {
    border-right: none;
}

.carParametersItem {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    align-items: center;
    border-right: 1px solid #000;
    font-size: 1.6rem;
    justify-content: center;
}

.carParametersItemDetail {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.carParametersItemDetail_Number {
    font-size: 4rem;
}

.carParametersItemDetail_Unit {
    font-size: 1.2rem;
    margin-left: 10px;
}

.container-fluid .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 50px !important;
}

.container-fluid {
    text-align: center;
    
}

.container-fluid h1 {
    margin: 50px;
}


/* small screen devices */
@media only screen and (max-width: 500px) {
    .carParametersItem {
        margin: 15px;
        border-bottom: 1px solid #000;
        border-right: 0px;
    }
    .carParameters :last-child {
        border-bottom: none;
    }
}

.row table {
    margin: auto;
    text-align: center;
    width: 70%;
}

.td-cash {
    transition: all .2s ease-in-out;
}

.td-cash:hover { transform: scale(1.3); }